* {
  margin: 0;
}

header {
  height: 100px;
  background-color: #4ea0ff;
  background-image: url("../img/pattern.png");
  background-size: 20%;
}

/*CONTENITORE*/
.container {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
}

/*LOGO*/
.container > img {
  width: 200px;
  padding: 40px 2px 0px;
}

.titolo {
  padding-top: 11px;
  font-size: 25px;
}

.fontgrey {
  color: grey;
}

#scrittore {
  font-size: 22px;
}

#scrittore > span {
  color: #2bade6;
}

#data-articolo {
  font-size: 12px;
  margin-bottom: 15px;
}

.didascalia-foto {
  font-size: 12px;
  margin-bottom: 15px;
}

.highlighted {
  background-color: yellow;
}

.list > ul {
  padding: 25px 0px;
  list-style-position: inside;
}

thead {
  background-color: #20a9e5;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

.tablewidth {
  width: 25%;
}

.btablebody {
  background-color: #b1e5f2;
}

.interessi {
  margin-top: 25px;
  font-weight: bold;
  font-size: 18px;
}

.imginteressi {
  height: 180px;
  width: 250px;
  margin-top: 12px;
  color: white;
  font-size: 25px;
  padding: 10px;
}

#imgmonitor {
  background-image: url(../img/monitor.jpg);
}

#imggrafico {
  background-image: url(../img/graph.jpg);
}
